.badge-owner {
  color: white;
  background-color: #dc3545;
}
.badge-developer {
  color: white;
  background-color: #fd7e14;
}
.badge-manager {
  background-color: #42D5DF;
}
.badge-server-master {
  color: white;
  background-color: #CF6800;
}
.badge-admin {
  color: white;
  background-color: #0d6efd;
}
